# Environment
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

# Ethereum
JSON_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x5fbdb2315678afecb367f032d93f642f64180aa3
CONTRACT_OWNER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
